<!DOCTYPE html>
<html lang="en">
<head>
    <title>Live Feed</title>
    <style>
        .indicator {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: red;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .indicator.match {
            background-color: green;
        }
    </style>
</head>
<body>
    <div>
        <img id="video-stream" src="{% url 'live_feed_stream' %}" alt="Live Feed"><br>
        <div id="indicator" class="indicator"></div>
        <label id="match">Initial unknown</label>
    </div>
    <script>
        console.log('Live Feed Page');
        const indicator = document.getElementById('indicator');
        const label = document.getElementById('match');
        const labelSource = new EventSource("{% url 'live_feed_label' %}");

        labelSource.onmessage = function(event) {
            console.log('Message Received:', event.data);
            if (event.data) {
                if (event.data === 'Unknown') {
                    indicator.classList.remove('match');
                    label.innerText = `Initial unknown`;
                } else {
                indicator.classList.add('match');
                label.innerText = `Match Found: ${event.data}`;
                
            }
        }
    };

        labelSource.onerror = function(event) {
            console.error('EventSource failed:', event);
        };
    </script>
</body>
</html>